{% extends 'base.html'%}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<h2>
	Search by:
</h2>

<form action="{{ url_for('show_stats') }}" method="post">
	{% for map in maps %}
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01">{{ map }}</label>
		</div>
		<select class="custom-select" id="inputGroupSelect01" name="contp">
			<option value=".*" selected>...</option>
			{% for key, value in maps[map].items() %}
			<option value={{ key }}>{{ value }}</option>
			{% endfor %}
		</select>
	</div>
	{% endfor %}

	<div class="input-group-append">
		<button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Show result</button>
	</div>
</form>

<br>
<br>

<h2>
	<small class="text-muted">or</small>
	Upload your csv file and predict:
</h2>

<div class="input-group">
	<form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
		<div class="custom-file">
			<input type="file" class="custom-file-input" id="customFile" name="fileupload">
			<label class="custom-file-label" for="customFile">...</label>
		</div>

		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="submit">Upload and
				predict</button>
		</div>
	</form>
</div>

{% endblock %}